# 是否允许局域网
allow-lan: false
# 绑定地址
bind-address: 0.0.0.0
# 混合端口
mixed-port: 7890

# 运行模式
mode: rule
# 日志级别
log-level: warning

# ipv6
ipv6: true

# 进程匹配模式
find-process-mode: strict

# 外部控制 (API)
external-controller: 127.0.0.1:9090
# API 访问密钥
secret: "mihomo123456"
# 外部用户界面
external-ui: zashboard
# 外部用户界面下载地址
external-ui-url: https://github.com/Zephyruso/zashboard/releases/latest/download/dist.zip

# tcp 并发
tcp-concurrent: true

# 全局客户端指纹
global-client-fingerprint: chrome

# GEOIP 数据模式
geodata-mode: true
# GEO 文件加载模式
geodata-loader: standard
# 自动更新 GEO
geo-auto-update: true
geo-update-interval: 24
# 自定义 GEO 下载地址
geox-url:
  geoip: https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/geoip.dat
  geosite: https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/geosite.dat
  mmdb: https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/country.mmdb
  asn: https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/GeoLite2-ASN.mmdb

dns:
  # 启用dns模块
  enable: true
  # 启用ipv6 dns解析
  ipv6: true
  enhanced-mode: redir-host
  respect-rules: true
  default-nameserver:
    - 127.0.0.1
  nameserver:
    - https://dns.cloudflare.com/dns-query
    - https://dns.google/dns-query
  nameserver-policy:
    "geosite:cn":
      - 127.0.0.1
  proxy-server-nameserver:
    - 127.0.0.1

proxytest: &proxytest
  url: https://www.google.com
  interval: 300
  timeout: 2000
  expected-status: 301
  max-failed-times: 5

# 代理集合
proxy-providers:
  daili:
    type: http
    url: {{ .daili_proxy_url }}
    path: proxy-providers/daili.yaml

# 代理组
proxy-groups:
  - name: dailiproxy
    type: select
    proxies:
      - 美国
      - 日本
      - 香港
      - 台湾
      - 新加坡
      - 其它地区
      - 全部节点

  - name: 香港
    type: select
    filter: "(?i)港|hk|hongkong|hong kong"
    <<: *proxytest
    use:
      - daili

  - name: 台湾
    type: select
    filter: "(?i)台|tw|taiwan"
    <<: *proxytest
    use:
      - daili

  - name: 日本
    type: select
    filter: "(?i)日|jp|japan"
    <<: *proxytest
    use:
     - daili

  - name: 美国
    type: select
    filter: "(?i)美|us|unitedstates|united states"
    <<: *proxytest
    use:
      - daili

  - name: 新加坡
    type: select
    filter: "(?i)(新|sg|singapore)"
    <<: *proxytest
    use:
      - daili

  - name: 其它地区
    type: select
    filter: "(?i)^(?!.*(?:🇭🇰|🇯🇵|🇺🇸|🇸🇬|🇨🇳|港|hk|hongkong|台|tw|taiwan|日|jp|japan|新|sg|singapore|美|us|unitedstates)).*"
    <<: *proxytest
    use:
      - daili

  - name: 全部节点
    type: select
    use:
     - daili

ruleset_domain: &ruleset_domain {type: http, interval: 43200, behavior: domain, format: text, proxy: dailiproxy}
ruleset_ipcidr: &ruleset_ipcidr {type: http, interval: 43200, behavior: ipcidr, format: text, proxy: dailiproxy}
ruleset_classical: &ruleset_classical {type: http, interval: 43200, behavior: classical, format: text, proxy: dailiproxy}

# 规则解释https://blog.skk.moe/post/i-have-my-unique-surge-setup/
rule-providers:
  # === domainset规则 ===
  # apple中国cdn域
  apple-cdn-domainset:
    <<: *ruleset_domain
    path: rules/apple-cdn-domainset.txt
    url: "https://ruleset.skk.moe/Clash/domainset/apple_cdn.txt"

  # 对象存储和静态资产cdn域
  cdn-domainset:
    <<: *ruleset_domain
    path: rules/cdn-domainset.txt
    url: "https://ruleset.skk.moe/Clash/domainset/cdn.txt"

  # Game下载，以及Steam、Epic、Blizzard、Gog、Ubisoft、EA、Xbox、PlayStation、Riot、Bethesda等的CDN域
  game-download-domainset:
    <<: *ruleset_domain
    path: rules/game-download-domainset.txt
    url: "https://ruleset.skk.moe/Clash/domainset/game-download.txt"

  # speedtest域
  speedtest-domainset:
    <<: *ruleset_domain
    path: rules/speedtest-domainset.txt
    url: "https://ruleset.skk.moe/Clash/domainset/speedtest.txt"

  # === non_ip规则 ===
  # OpenAI和Claude的域
  ai-non_ip:
    <<: *ruleset_classical
    path: rules/ai-non_ip.txt
    url: "https://ruleset.skk.moe/Clash/non_ip/ai.txt"

  # apple中国cdn域
  apple-cdn-non_ip:
    <<: *ruleset_classical
    path: rules/apple-cdn-non_ip.txt
    url: "https://ruleset.skk.moe/Clash/non_ip/apple_cdn.txt"

  # apple中国服务域
  apple-cn-non_ip:
    <<: *ruleset_classical
    path: rules/apple-cn-non_ip.txt
    url: "https://ruleset.skk.moe/Clash/non_ip/apple_cn.txt"

  # apple域
  apple-services-non_ip:
    <<: *ruleset_classical
    path: rules/apple-services-non_ip.txt
    url: "https://ruleset.skk.moe/Clash/non_ip/apple_services.txt"

  # 对象存储和静态资产cdn域
  cdn-non_ip:
    <<: *ruleset_classical
    path: rules/cdn-non_ip.txt
    url: "https://ruleset.skk.moe/Clash/non_ip/cdn.txt"

  # 不应代理的域和进程
  direct-non_ip:
    <<: *ruleset_classical
    path: rules/direct-non_ip.txt
    url: "https://ruleset.skk.moe/Clash/non_ip/direct.txt"

  # 中国大陆地区域
  domestic-non_ip:
    <<: *ruleset_classical
    path: rules/domestic-non_ip.txt
    url: "https://ruleset.skk.moe/Clash/non_ip/domestic.txt"

  # 中国大陆地区不可用服务域
  global-non_ip:
    <<: *ruleset_classical
    path: rules/global-non_ip.txt
    url: "https://ruleset.skk.moe/Clash/non_ip/global.txt"

  # LAN 域和保留TLD
  lan-non_ip:
    <<: *ruleset_classical
    path: rules/lan-non_ip.txt
    url: "https://ruleset.skk.moe/Clash/non_ip/lan.txt"

  # 微软域
  microsoft-non_ip:
    <<: *ruleset_classical
    path: rules/microsoft-non_ip.txt
    url: "https://ruleset.skk.moe/Clash/non_ip/microsoft.txt"

  # 微软中国cdn域
  microsoft-cdn-non_ip:
    <<: *ruleset_classical
    path: rules/microsoft-cdn-non_ip.txt
    url: "https://ruleset.skk.moe/Clash/non_ip/microsoft_cdn.txt"

  # 流媒体域
  stream-non_ip:
    <<: *ruleset_classical
    path: rules/stream-non_ip.txt
    url: "https://ruleset.skk.moe/Clash/non_ip/stream.txt"

  # bilibili国际域
  stream-biliintl-non_ip:
    <<: *ruleset_classical
    path: rules/stream-biliintl-non_ip.txt
    url: "https://ruleset.skk.moe/Clash/non_ip/stream_biliintl.txt"

  # telegram域
  telegram-non_ip:
    <<: *ruleset_classical
    path: rules/telegram-non_ip.txt
    url: "https://ruleset.skk.moe/Clash/non_ip/telegram.txt"

  # === ip规则 ===
  # apple ip
  apple-services-ip:
    <<: *ruleset_classical
    path: rules/apple-services-ip.txt
    url: "https://ruleset.skk.moe/Clash/ip/apple_services.txt"

  # 对象存储和静态资产cdn ip
  cdn-ip:
    <<: *ruleset_classical
    path: rules/cdn-ip.txt
    url: "https://ruleset.skk.moe/Clash/ip/cdn.txt"

  china-ip:
    <<: *ruleset_ipcidr
    path: rules/china-ip.txt
    url: "https://ruleset.skk.moe/Clash/ip/china_ip.txt"

  china-ipv6:
    <<: *ruleset_ipcidr
    path: rules/china-ipv6.txt
    url: "https://ruleset.skk.moe/Clash/ip/china_ip_ipv6.txt"

  # 中国大陆广播ip
  domestic-ip:
    <<: *ruleset_classical
    path: rules/domestic-ip.txt
    url: "https://ruleset.skk.moe/Clash/ip/domestic.txt"

  lan-ip:
    <<: *ruleset_classical
    path: rules/lan-ip.txt
    url: "https://ruleset.skk.moe/Clash/ip/lan.txt"

  # 流媒体ip
  stream-ip:
    <<: *ruleset_classical
    path: rules/stream-ip.txt
    url: "https://ruleset.skk.moe/Clash/ip/stream.txt"

  # bilibili国际ip
  stream-biliintl-ip:
    <<: *ruleset_classical
    path: rules/stream-biliintl-ip.txt
    url: "https://ruleset.skk.moe/Clash/ip/stream_biliintl.txt"

  telegram-ip:
    <<: *ruleset_classical
    path: rules/telegram-ip.txt
    url: "https://ruleset.skk.moe/Clash/ip/telegram.txt"

  telegram-asn-ip:
    <<: *ruleset_classical
    path: rules/telegram-asn-ip.txt
    url: "https://ruleset.skk.moe/Clash/ip/telegram_asn.txt"

rules:
  # domain规则
  # 国外
  - RULE-SET,cdn-domainset,dailiproxy
  - RULE-SET,game-download-domainset,dailiproxy
  - RULE-SET,speedtest-domainset,dailiproxy
  - RULE-SET,ai-non_ip,dailiproxy
  - RULE-SET,apple-services-non_ip,dailiproxy
  - RULE-SET,cdn-non_ip,dailiproxy
  - RULE-SET,global-non_ip,dailiproxy
  - RULE-SET,microsoft-non_ip,dailiproxy
  - RULE-SET,stream-non_ip,dailiproxy
  - RULE-SET,telegram-non_ip,dailiproxy

  # 国内
  - RULE-SET,apple-cdn-domainset,DIRECT
  - RULE-SET,apple-cdn-non_ip,DIRECT
  - RULE-SET,apple-cn-non_ip,DIRECT
  - RULE-SET,direct-non_ip,DIRECT
  - RULE-SET,domestic-non_ip,DIRECT
  - RULE-SET,lan-non_ip,DIRECT
  - RULE-SET,microsoft-cdn-non_ip,DIRECT

  # ip规则
  # 国外
  - RULE-SET,apple-services-ip,dailiproxy
  - RULE-SET,cdn-ip,dailiproxy
  - RULE-SET,stream-ip,dailiproxy
  - RULE-SET,telegram-ip,dailiproxy
  - RULE-SET,telegram-asn-ip,dailiproxy
  
  # 国内
  - RULE-SET,china-ip,DIRECT
  - RULE-SET,china-ipv6,DIRECT
  - RULE-SET,domestic-ip,DIRECT
  - RULE-SET,lan-ip,DIRECT

  # GET规则
  - GEOSITE,geolocation-!cn,dailiproxy
  - GEOSITE,private,DIRECT
  - GEOSITE,CN,DIRECT
  - GEOIP,private,DIRECT
  - GEOIP,CN,DIRECT

  - MATCH,dailiproxy

