# 是否允许局域网
allow-lan: false
# 绑定地址
bind-address: 0.0.0.0
# 混合端口
mixed-port: 7890

# 运行模式
mode: rule
# 日志级别
log-level: warning

# ipv6
ipv6: true

# 进程匹配模式
find-process-mode: strict

# 外部控制 (API)
external-controller: 127.0.0.1:9090
# API 访问密钥
secret: "mihomo123456"
# 外部用户界面
external-ui: zashboard
# 外部用户界面下载地址
external-ui-url: https://github.com/Zephyruso/zashboard/releases/latest/download/dist.zip

profile:
  # 储存 API 对策略组的选择，以供下次启动时使用
  store-selected: true

# 统一延迟
unified-delay: true
# tcp 并发
tcp-concurrent: true

# 全局客户端指纹
global-client-fingerprint: chrome

# GEOIP 数据模式
geodata-mode: true
# 自动更新 GEO
geo-auto-update: true
geo-update-interval: 24
# 自定义 GEO 下载地址
geox-url:
  geoip: https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geoip.dat
  geosite: https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geosite.dat
  mmdb: https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/country-lite.mmdb
  asn: https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/GeoLite2-ASN.mmdb

localdns: &localdns 127.0.0.1
dns:
  # 启用dns模块
  enable: true
  # 启用ipv6 dns解析
  ipv6: true
  enhanced-mode: redir-host
  cache-algorithm: arc
  respect-rules: true
  default-nameserver:
    - *localdns
  proxy-server-nameserver:
    - *localdns
  nameserver:
    - *localdns
  nameserver-policy:
    "geosite:!cn":
      - https://1.1.1.1/dns-query
      - https://8.8.8.8/dns-query

proxytest: &proxytest
  url: https://www.gstatic.com/generate_204
  interval: 0
  timeout: 2000
  max-failed-times: 5
  expected-status: 204

# 代理集合
proxy-providers:
  daili:
    type: http
    url: {{ .daili_proxy_url }}
    path: proxy-providers/daili.yaml
    interval: 0
    proxy: DIRECT
    exclude-type: hysteria2
    override:
      udp-over-tcp: true

  wuxian1:
    type: http
    url: {{ .wuxian1_proxy_url }}
    path: proxy-providers/wuxian1.yaml
    interval: 43200
    proxy: DIRECT
    exclude-type: hysteria2

proxies:
  - name: warp
    type: wireguard
    dialer-proxy: dailiproxy
    private-key: {{ .warp_private_key }}
    public-key: {{ .warp_public_key }}
    ip: 172.16.0.2/32
    ipv6: {{ .warp_ipv6 }}
    server: engage.cloudflareclient.com
    port: 4500
    allowed-ips: ['0.0.0.0/0', '::/0']
    udp: true
    mtu: 1280

  - name: vless-us
    type: vless
    server: {{ .vless_server_ip }}
    port: 7878
    udp: true
    uuid: {{ .vless_us_uuid }}
    flow: xtls-rprx-vision
    packet-encoding: xudp
    tls: true
    servername: {{ .vless_sni }}
    encryption: {{ .vless_us_enc }}
    reality-opts:
      public-key: {{ .vless_public_key }}
      short-id: {{ .vless_short_id }}

  - name: vless-jp
    type: vless
    server: {{ .vless_server_ip }}
    port: 7879
    udp: true
    uuid: {{ .vless_jp_uuid }}
    flow: xtls-rprx-vision
    packet-encoding: xudp
    tls: true
    servername: {{ .vless_sni }}
    encryption: {{ .vless_jp_enc }}
    reality-opts:
      public-key: {{ .vless_public_key }}
      short-id: {{ .vless_short_id }}

# 代理组
proxy-groups:
  - name: mainproxy
    type: select
    proxies:
      - warp
      - dailiproxy
      - cdnproxy
      - vless-us
      - vless-jp
      - DIRECT

  - name: cdnproxy
    type: select
    proxies:
      - wuxianproxy
      - dailiproxy
      - vless-jp
      - vless-us
      - DIRECT

  - name: dailiproxy
    type: select
    proxies:
      - 美国-daili
      - 日本-daili
      - 新加坡-daili
      - 香港-daili
      - 台湾-daili
      - 其它地区-daili
      - 全部节点-daili

  - name: wuxianproxy
    type: select
    proxies:
      - 美国-wuxian
      - 日本-wuxian
      - 新加坡-wuxian
      - 香港-wuxian
      - 台湾-wuxian
      - 其它地区-wuxian
      - 全部节点-wuxian

  - name: 美国-daili
    type: select
    filter: "(?i)美国|us|unitedstates|united states"
    <<: *proxytest
    use:
      - daili

  - name: 美国-wuxian
    type: select
    filter: "(?i)美国|us|unitedstates|united states"
    <<: *proxytest
    use:
      - wuxian1

  - name: 日本-daili
    type: select
    filter: "(?i)日本|jp|japan"
    <<: *proxytest
    use:
     - daili

  - name: 日本-wuxian
    type: select
    filter: "(?i)日本|jp|japan"
    <<: *proxytest
    use:
     - wuxian1

  - name: 新加坡-daili
    type: select
    filter: "(?i)(新加坡|sg|singapore)"
    <<: *proxytest
    use:
      - daili

  - name: 新加坡-wuxian
    type: select
    filter: "(?i)(新加坡|sg|singapore)"
    <<: *proxytest
    use:
      - wuxian1

  - name: 香港-daili
    type: select
    filter: "(?i)香港|hk|hongkong|hong kong"
    <<: *proxytest
    use:
      - daili

  - name: 香港-wuxian
    type: select
    filter: "(?i)香港|hk|hongkong|hong kong"
    <<: *proxytest
    use:
      - wuxian1

  - name: 台湾-daili
    type: select
    filter: "(?i)台湾|tw|taiwan"
    <<: *proxytest
    use:
      - daili

  - name: 台湾-wuxian
    type: select
    filter: "(?i)台湾|tw|taiwan"
    <<: *proxytest
    use:
      - wuxian1

  - name: 其它地区-daili
    type: select
    filter: "(?i)^(?!.*(?:🇭🇰|🇯🇵|🇺🇸|🇸🇬|🇨🇳|香港|hk|hongkong|台湾|tw|taiwan|日本|jp|japan|新加坡|sg|singapore|美国|us|unitedstates)).*"
    <<: *proxytest
    use:
      - daili

  - name: 其它地区-wuxian
    type: select
    filter: "(?i)^(?!.*(?:🇭🇰|🇯🇵|🇺🇸|🇸🇬|🇨🇳|香港|hk|hongkong|台湾|tw|taiwan|日本|jp|japan|新加坡|sg|singapore|美国|us|unitedstates)).*"
    <<: *proxytest
    use:
      - wuxian1

  - name: 全部节点-daili
    type: select

    use:
     - daili

  - name: 全部节点-wuxian
    type: select
    use:
     - wuxian1

ruleset_domain: &ruleset_domain {type: http, interval: 43200, behavior: domain, format: text}
ruleset_ipcidr: &ruleset_ipcidr {type: http, interval: 43200, behavior: ipcidr, format: text}
ruleset_classical: &ruleset_classical {type: http, interval: 43200, behavior: classical, format: text}

# 规则解释https://blog.skk.moe/post/i-have-my-unique-surge-setup/
rule-providers:
  # === domainset规则 ===
  # apple中国cdn域
  apple-cdn-domainset:
    <<: *ruleset_domain
    path: rules/apple-cdn-domainset.txt
    url: "https://ruleset.skk.moe/Clash/domainset/apple_cdn.txt"

  # 对象存储和静态资产cdn域
  cdn-domainset:
    <<: *ruleset_domain
    path: rules/cdn-domainset.txt
    url: "https://ruleset.skk.moe/Clash/domainset/cdn.txt"

  # 软件更新、操作系统等大文件下载的域
  download-domainset:
    <<: *ruleset_domain
    path: rules/download-domainset.txt
    url: https://ruleset.skk.moe/Clash/domainset/download.txt

  # Game下载，以及Steam、Epic、Blizzard、Gog、Ubisoft、EA、Xbox、PlayStation、Riot、Bethesda等的CDN域
  game-download-domainset:
    <<: *ruleset_domain
    path: rules/game-download-domainset.txt
    url: "https://ruleset.skk.moe/Clash/domainset/game-download.txt"

  # speedtest域
  speedtest-domainset:
    <<: *ruleset_domain
    path: rules/speedtest-domainset.txt
    url: "https://ruleset.skk.moe/Clash/domainset/speedtest.txt"

  # === non_ip规则 ===
  # 包含 OpenAI、Google Gemini、Claude、Perplexity 等的域
  ai-non_ip:
    <<: *ruleset_classical
    path: rules/ai-non_ip.txt
    url: "https://ruleset.skk.moe/Clash/non_ip/ai.txt"

  # apple中国cdn域
  apple-cdn-non_ip:
    <<: *ruleset_classical
    path: rules/apple-cdn-non_ip.txt
    url: "https://ruleset.skk.moe/Clash/non_ip/apple_cdn.txt"

  # apple中国服务域
  apple-cn-non_ip:
    <<: *ruleset_classical
    path: rules/apple-cn-non_ip.txt
    url: "https://ruleset.skk.moe/Clash/non_ip/apple_cn.txt"

  # apple域
  apple-services-non_ip:
    <<: *ruleset_classical
    path: rules/apple-services-non_ip.txt
    url: "https://ruleset.skk.moe/Clash/non_ip/apple_services.txt"

  # 对象存储和静态资产cdn域
  cdn-non_ip:
    <<: *ruleset_classical
    path: rules/cdn-non_ip.txt
    url: "https://ruleset.skk.moe/Clash/non_ip/cdn.txt"

  # 软件更新、操作系统等大文件下载的域
  download-non_ip:
   <<: *ruleset_classical
   path: rules/download-non_ip.txt
   url: https://ruleset.skk.moe/Clash/non_ip/download.txt

  # 不应代理的域和进程
  direct-non_ip:
    <<: *ruleset_classical
    path: rules/direct-non_ip.txt
    url: "https://ruleset.skk.moe/Clash/non_ip/direct.txt"

  # 中国大陆地区域
  domestic-non_ip:
    <<: *ruleset_classical
    path: rules/domestic-non_ip.txt
    url: "https://ruleset.skk.moe/Clash/non_ip/domestic.txt"

  # 中国大陆地区不可用服务域
  global-non_ip:
    <<: *ruleset_classical
    path: rules/global-non_ip.txt
    url: "https://ruleset.skk.moe/Clash/non_ip/global.txt"

  # LAN 域和保留TLD
  lan-non_ip:
    <<: *ruleset_classical
    path: rules/lan-non_ip.txt
    url: "https://ruleset.skk.moe/Clash/non_ip/lan.txt"

  # 微软域
  microsoft-non_ip:
    <<: *ruleset_classical
    path: rules/microsoft-non_ip.txt
    url: "https://ruleset.skk.moe/Clash/non_ip/microsoft.txt"

  # 微软中国cdn域
  microsoft-cdn-non_ip:
    <<: *ruleset_classical
    path: rules/microsoft-cdn-non_ip.txt
    url: "https://ruleset.skk.moe/Clash/non_ip/microsoft_cdn.txt"

  # 流媒体域
  stream-non_ip:
    <<: *ruleset_classical
    path: rules/stream-non_ip.txt
    url: "https://ruleset.skk.moe/Clash/non_ip/stream.txt"

  # bilibili国际域
  stream-biliintl-non_ip:
    <<: *ruleset_classical
    path: rules/stream-biliintl-non_ip.txt
    url: "https://ruleset.skk.moe/Clash/non_ip/stream_biliintl.txt"

  # telegram域
  telegram-non_ip:
    <<: *ruleset_classical
    path: rules/telegram-non_ip.txt
    url: "https://ruleset.skk.moe/Clash/non_ip/telegram.txt"

  # === ip规则 ===
  # apple ip
  apple-services-ip:
    <<: *ruleset_classical
    path: rules/apple-services-ip.txt
    url: "https://ruleset.skk.moe/Clash/ip/apple_services.txt"

  # 对象存储和静态资产cdn ip
  cdn-ip:
    <<: *ruleset_classical
    path: rules/cdn-ip.txt
    url: "https://ruleset.skk.moe/Clash/ip/cdn.txt"

  china-ip:
    <<: *ruleset_ipcidr
    path: rules/china-ip.txt
    url: "https://ruleset.skk.moe/Clash/ip/china_ip.txt"

  china-ipv6:
    <<: *ruleset_ipcidr
    path: rules/china-ipv6.txt
    url: "https://ruleset.skk.moe/Clash/ip/china_ip_ipv6.txt"

  # 中国大陆广播ip
  domestic-ip:
    <<: *ruleset_classical
    path: rules/domestic-ip.txt
    url: "https://ruleset.skk.moe/Clash/ip/domestic.txt"

  lan-ip:
    <<: *ruleset_classical
    path: rules/lan-ip.txt
    url: "https://ruleset.skk.moe/Clash/ip/lan.txt"

  # 流媒体ip
  stream-ip:
    <<: *ruleset_classical
    path: rules/stream-ip.txt
    url: "https://ruleset.skk.moe/Clash/ip/stream.txt"

  # bilibili国际ip
  stream-biliintl-ip:
    <<: *ruleset_classical
    path: rules/stream-biliintl-ip.txt
    url: "https://ruleset.skk.moe/Clash/ip/stream_biliintl.txt"

  telegram-ip:
    <<: *ruleset_classical
    path: rules/telegram-ip.txt
    url: "https://ruleset.skk.moe/Clash/ip/telegram.txt"

  telegram-asn-ip:
    <<: *ruleset_classical
    path: rules/telegram-asn-ip.txt
    url: "https://ruleset.skk.moe/Clash/ip/telegram_asn.txt"

rules:
  - DOMAIN,data.bilibili.com,REJECT
  - DOMAIN-SUFFIX,mcdn.bilivideo.cn,REJECT
  - DOMAIN-SUFFIX,smnet.studio,cdnproxy
  - DOMAIN-SUFFIX,server.alice.dns-dynamic.net,dailiproxy
  - DOMAIN-SUFFIX,githubusercontent.com,cdnproxy
  - IP-CIDR,1.1.1.1/32,dailiproxy
  - IP-CIDR,8.8.8.8/32,dailiproxy
  # Youtube
  - DOMAIN-SUFFIX,googlevideo.com,cdnproxy
  # Spotify
  - DOMAIN-SUFFIX,spotifycdn.com,cdnproxy
  - DOMAIN-SUFFIX,scdn.co,cdnproxy
  # Twitch
  - DOMAIN-SUFFIX,jtvnw.net,cdnproxy
  - DOMAIN-SUFFIX,ttvnw.net,cdnproxy
  - DOMAIN-SUFFIX,twitchcdn.net,cdnproxy
  - DOMAIN-SUFFIX,twitchsvc.net,cdnproxy
  # google cdn
  - DOMAIN-SUFFIX,gvt1.com,DIRECT

  # domain规则
  # 国内
  - RULE-SET,apple-cdn-domainset,DIRECT
  - RULE-SET,apple-cdn-non_ip,DIRECT
  - RULE-SET,apple-cn-non_ip,DIRECT
  - RULE-SET,direct-non_ip,DIRECT
  - RULE-SET,domestic-non_ip,DIRECT
  - RULE-SET,lan-non_ip,DIRECT
  - RULE-SET,microsoft-cdn-non_ip,DIRECT
  # 国外
  - RULE-SET,cdn-domainset,cdnproxy
  - RULE-SET,download-domainset,cdnproxy
  - RULE-SET,game-download-domainset,cdnproxy
  - RULE-SET,speedtest-domainset,mainproxy
  - RULE-SET,ai-non_ip,mainproxy
  - RULE-SET,apple-services-non_ip,mainproxy
  - RULE-SET,cdn-non_ip,cdnproxy
  - RULE-SET,download-non_ip,cdnproxy
  - RULE-SET,global-non_ip,mainproxy
  - RULE-SET,microsoft-non_ip,mainproxy
  #- RULE-SET,stream-non_ip,mainproxy
  - RULE-SET,telegram-non_ip,mainproxy

  # ip规则
  # 国内
  - RULE-SET,china-ip,DIRECT
  - RULE-SET,china-ipv6,DIRECT
  - RULE-SET,domestic-ip,DIRECT
  - RULE-SET,lan-ip,DIRECT
  # 国外
  - RULE-SET,apple-services-ip,mainproxy
  - RULE-SET,cdn-ip,cdnproxy
  #- RULE-SET,stream-ip,mainproxy
  - RULE-SET,telegram-ip,mainproxy
  - RULE-SET,telegram-asn-ip,mainproxy
  
  # GET规则
  - GEOSITE,private,DIRECT
  - GEOSITE,CN,DIRECT
  - GEOIP,private,DIRECT
  - GEOIP,CN,DIRECT

  - GEOSITE,geolocation-!cn,mainproxy
  - MATCH,mainproxy

